body{
    background-image: url(bk1.jpg);
    background-position: 100%;
}

.jumbotron{
    margin-left: 5%;
    background-color: aqua;
    padding: 1%;
    border-radius: 5%;
    text-align: center;
    width: 100%;
}